$font: 'Righteous', cursive

body
  margin: 0
  padding: 0

  .headerVid
    overflow: hidden
    video
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      min-width: 100vw
      min-height: 100vh
      z-index: 1
    .title
      z-index: 2
      position: relative
      font-family: $font
      color: black
      font-weight: 800
      font-size: 6vw
    .subtitle
      z-index: 2
      position: relative
      font-family: $font
      color: black
      font-weight: 800
      font-size: 3vw
    .hours
      font-size: 1.5vw
      margin-top: -25px

  .nav
    border-top: black 1px solid
    border-bottom: black 1px solid
    margin: 5px

  .nav-item
    font-family: 'Righteous', cursive
    color: black
    font-size: 1.5rem
    margin: 5px
    &:hover
      color: #965f41
    i
      margin: 5px
      @media (max-width: 425px)
        font-size: 30px

  .about
    h1
      font-weight: 500
    h2
      font-weight: 400

  .menuHead
    background-image: url(http://i.imgur.com/ofTSGSy.png)
    background-size: cover
    .title
      z-index: 2
      position: relative
      font-family: $font
      color: black
      font-weight: 800
      font-size: 6vw
    .subtitle
      z-index: 2
      position: relative
      font-family: $font
      color: black
      font-weight: 800
      font-size: 3vw
    .hours
      font-size: 1.5vw
      margin-top: -25px

  .menuPage
    background-color: #965f41
    .menu
      background-color: #b8855c
      width: 100%
      .title
        font-family: $font
        color: black
        font-weight: 800
        font-size: 3vw
      .subtitle
        font-family: $font
        color: black
      li
        font-family: $font
        color: black

  .footer
    background-color: #965f41
