body, html
  margin: 0
  padding: 0

  .hero
    overflow: hidden
    video
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      min-width: 100vw
      min-height: 100vh
      z-index: 1
    .title
      z-index: 2
      position: relative
      font-family: 'Righteous', cursive
      color: black
      font-weight: 800
      font-size: 4rem
    .subtitle
      z-index: 2
      position: relative
      font-family: 'Righteous', cursive
      color: black
      font-weight: 800
      font-size: 2rem
